body {
  margin-top: 1rem;

  line-height: 1.5em;
  letter-spacing: 0.010em;
  word-spacing: 0.1em;

  background-color: antiquewhite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(242, 113, 28);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: red;
}

nav {
  --nav-radius: 10px;
  border-bottom-left-radius: var(--nav-radius) !important;
  border-bottom-right-radius: var(--nav-radius) !important;
}

#home-header {
  padding: 2em 0em;
}

.ui.list {
  padding: 0.5em 0em;
}

.ui.list .item {
  padding: 0.6em 0em;
}

.ui.list .item .content .header {
  color: orangered !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: 90%;
}

main section p {
  text-align: justify;
}

main section img.right {
  margin: 0px 30px 30px 30px !important;
}

main section img.left {
  margin: 0px 30px 30px 0px !important;
}

main section h2 {
  clear: both;
}

main section .list {
  clear: both;
}

footer {
  width: 100%;
  padding: 1em 0em !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}