:root {
  --paper-background: antiquewhite;
  --brand-color: rgb(242, 113, 28);

  --primary-color: red;
  --secondary-color: orangered;
}

body {
  margin-top: 1rem;

  line-height: 1.5em;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;

  background-color: var(--paper-background);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

nav {
  --nav-radius: 10px;
  border-bottom-left-radius: var(--nav-radius) !important;
  border-bottom-right-radius: var(--nav-radius) !important;
}

nav .header.item > h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-header {
  padding: 2em 0em;
}

.ui.list {
  padding: 0.5em 0em;
}

.ui.list .item {
  padding: 0.6em 0em;
}

.ui.list .item .content .header {
  color: var(--secondary-color) !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2em !important;
}

main section {
  width: 90%;
}

main section p {
  text-align: justify;
}

main section img.right {
  margin: 0px 30px 30px 30px !important;
}

main section img.left {
  margin: 0px 30px 30px 0px !important;
}

main section h2 {
  clear: both;
}

main section h3 {
  text-align: center;
}

footer {
  width: 100%;
  padding: 1em 0em !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

main section a {
  font-style: italic;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

footer a {
  color: lightblue;
  font-style: italic;
}

footer a:hover {
  color: blue;
  text-decoration: underline;
}

.ui.cards .card {
  cursor: default !important;
}

.ui.cards > .card {
  background: var(--paper-background) !important;
  justify-content: center !important;
  margin: 2em 0.5em;
}

#form-container {
  padding: 2em;
}

.radio-element {
  padding: 1em 0em;
}

.tall.divider {
  padding: 1em 0em;
}

.ui.basic.modal {
  text-align-last: center;
}

.youtube-embed > .ui.segment.column {
  padding: 1em !important;
}

.youtube-embed {
  margin: 2em 0em !important;
}
